/****************************************
                Column Drop Pattern
                -------------------
    - The small screen columns are stacked on top of one another.
    - As the screen size increases the number of columns are
        typically unstacked one at a time for each breakpoint.
    - The size of the content in the columns for medium
        and large screensis mostly same. The space availability is 
        mostly taken care of by dropping or unstacking a column at a time.

                    Implementation
                    --------------
    The columns are created using bootstrap.(see HTML file)
    
    -Hero and Contact section has two columns in full screen.
        It breaks into single column when screen size is below 768px.
    -Subscribe and features section has three columns in full screen.
        It breaks into two columns at 768px. And then into one column
        at 576px.
    -Plans and Editorial board have four columns in full screen.
        It breaks into three columns when screen size is below 992 px.
        It breaks into two columns when screen size is below 768px.
        It breaks into single column at 576px.

*/

/************************************
        Font Sizes
*/

/* This class is used in editors and copyright section */
.small-text{
    font-size: 0.8rem;
}

html{
    font-size: 0.8rem;
}

@media (min-width: 576px) {
    html {
        font-size: 1rem;
    }
}

/************************************
            Font Colors
*/

#hero,
#email,
#features,
#plans,
#why,
#editors,
.nav-item,
.navbar-brand,
.fab{
    color: #24665e !important;
}

.fab:hover,
#main-footer .fab:hover{
    color: black !important;
}

#main-footer .fab{
    color: white !important;
}

/************************************
            Background colors
*/

#hero,
#why,
#plans{
    background-color: rgba(116, 192, 168, 0.247);
}

#email{
    background-color:#43b3ae;
}

.btn-color,
#main-footer{
    background-color: #24665e;
}


/********************************************
            Other settings
*/

/* Provide top/bottom space around content in each section */
section{
    padding: 2em 0;
}

/* Set website logo size*/
.logo{
    height: auto;
    width: 50px;
}

/* Provide space above hero section to accomodate top 
    nav in small screen */
#hero{
    margin-top: 3.75em;
}

/* Remove blue border around hamburger icon*/
button:focus{
    outline:0;
}

/* Show border below items in dropdown menu on small screen */
.nav-item{
    border-bottom: 1px solid #24665e;
}

/* Highlight dropdown menu item when pointer hovers over it. */
.nav-item:hover{
    background-color: #43b3ae;
    color: white !important;
}

/* Show border around four boxes in Plans section */
#plans .card-border{
    border: 2px solid #24665e !important;
}

/* Underline section headings */
.heading:after{
    display: block;
    content: " ";
    height: 2px;
    width: 20%;
    background-color: #24665e;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* The heading for Contact section is underlined in white color */
#main-footer .heading:after{
    background-color: white ;
}

@media (min-width: 768px){

    /* Remove line below feature items on large screens,
        as the items are horizontally aligned. On small screens
        they are vertical and a line separates them. */
    #features .border-bottom{
        border-bottom: 0 !important;
    }
}

@media (min-width: 992px) {

    /* Remove border shown below items in dropdown menu,
        as the dropdown is converted to top nav in large
        screens */
    .nav-item{
        border-bottom: 0;
    }

    /* Remove hightlight effect for items in dropdown menu
        as the dropdown is converted to top nav in large */
    .nav-item:hover{
        background-color: transparent !important;
        color: #b6b6b6 !important;
    }

    /* Separate top menu items with pipe symbol*/
    .nav-item::after{
        content: "|";
        margin-left: 1rem;
    }

    /* Remove pipe symbol for last item on right in top menu */
    .nav-item:last-child::after{
        content: "";
    }
}

